apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-jobmanager
  namespace: baggage-poc
  labels:
    app: flink
    component: jobmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      component: jobmanager
  template:
    metadata:
      labels:
        app: flink
        component: jobmanager
    spec:
      containers:
        - name: jobmanager
          image: flink:1.18
          args: ["jobmanager"]
          ports:
            - containerPort: 8081
              name: ui
            - containerPort: 6123
              name: rpc
            - containerPort: 6124
              name: blob
          env:
            - name: JOB_MANAGER_RPC_ADDRESS
              value: flink-jobmanager
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: flink-jobmanager
  namespace: baggage-poc
  labels:
    app: flink
    component: jobmanager
spec:
  type: ClusterIP
  selector:
    app: flink
    component: jobmanager
  ports:
    - name: ui
      port: 8081
      targetPort: 8081
    - name: rpc
      port: 6123
      targetPort: 6123
    - name: blob
      port: 6124
      targetPort: 6124
