apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-taskmanager
  namespace: baggage-poc
  labels:
    app: flink
    component: taskmanager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
    spec:
      containers:
        - name: taskmanager
          image: baggage-flink:local
          imagePullPolicy: IfNotPresent
          args: ["taskmanager"]
          env:
            - name: JOB_MANAGER_RPC_ADDRESS
              value: flink-jobmanager
            - name: TASK_MANAGER_NUMBER_OF_TASK_SLOTS
              value: "2"
            - name: CLICKHOUSE_JDBC_URL
              value: jdbc:mysql://clickhouse:9004/baggage
            - name: CLICKHOUSE_USER
              value: admin
            - name: CLICKHOUSE_PASSWORD
              value: admin123
            - name: CLICKHOUSE_JDBC_DRIVER
              value: com.mysql.cj.jdbc.Driver
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "2"
