apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: baggage-poc
  labels:
    app: kafka-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:v0.7.2
          imagePullPolicy: IfNotPresent
          env:
            - name: KAFKA_CLUSTERS_0_NAME
              value: baggage
            - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
              value: kafka.baggage-poc.svc.cluster.local:9092
            - name: KAFKA_CLUSTERS_0_READONLY
              value: "false"
          ports:
            - name: http
              containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: baggage-poc
  labels:
    app: kafka-ui
spec:
  selector:
    app: kafka-ui
  ports:
    - name: http
      port: 8080
      targetPort: http
