apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: baggage-poc
  labels:
    grafana_datasource: "1"
    app.kubernetes.io/name: grafana

data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: ClickHouse
        type: grafana-clickhouse-datasource
        access: proxy
        isDefault: true
        jsonData:
          server: clickhouse
          port: 8123
          protocol: http
          defaultDatabase: baggage
          username: admin
        secureJsonData:
          password: admin123
